/**index.wxss**/
@import '../../sass-utils/variables';
@import '../../sass-utils//mixin';

.icon-add{
  position: fixed;
  z-index: 100;
  color: $c0;
  bottom:rpx2(30);
  right: rpx2(20);
  font-size: rpx2(35);
}
.filter-time{
  display: flex;
  align-items: center;
  height: rpx2(40);
  background-color: #fff;
  padding: 0 rpx2(15);
  .item{

  }
}
